body{
    background-color: rgb(102, 142, 191);
}

body {
    font-family: Arial, sans-serif;
  }
  
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

    h1 {
      color: #333;
    }

    table {
      margin: 20px auto;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      border: 1px solid #ccc;
    }

    .subject {
      width: 200px;
    }

    .hours, .grade {
      width: 80px;
    }

    button {
      padding: 10px 20px;
      background-color: #337ab7;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 10px;
    }

    button:hover {
      background-color: #23527c;
    }

    #result {
      margin-top: 20px;
      font-weight: bold;
    }

    .link {
      font-size: 14px;
    }

